body {
  background-color: antiquewhite;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title{
  
  font-size: 20px;
  line-height: 1.2;
  margin: 0 auto 5px auto;
  width: 320px;
  height: 26px;
}

.form{
  padding: 3px;
  background-color: maroon;
  border: 1px solid maroon;
  border-radius: 4px;
  width: 320px;
  height: auto;

  margin: 0 auto 15px auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  border: 1px solid maroon;
  border-radius: 4px;
  width: 220px;
  height: 24px;
}

.button-submit{
  display: inline-block;
  width: 80px;
  height: 26px;
  border: 1px solid maroon;
  color: maroon;
  border-radius: 4px;
  background-color: antiquewhite;

  font-size: 18px;
  line-height: 1.2;
}

.unordered-list {
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0 auto 15px auto;
}

.list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-checkbox{
  width: 20px;
  height: 20px;
}

.text{
  font-size: 16px;
  line-height: 1;
  margin: 0 auto 15px auto;
  width: 320px;
  height: 24px;
}

.input-text{
  width: 200px;
  height: 20px;
  font-size: 16px;
  line-height: 1.12;
}

.button{
  width: auto;
  height: 20px;
  background-color: maroon;
  border-radius: 3px;
  color: antiquewhite;
}

.modal{
  background-color: antiquewhite;
  padding: 7px;
}

.id-value{
  font-family: 'Courier New', Courier, monospace;
  color: maroon;
  display: block;
  font-size: 14px;
}

.mod-title{
  background-color: maroon;
  color: antiquewhite;
  margin: 7px 3px;
  padding: 3px 7px;
  text-transform: uppercase;
}
